body {
  /* background-color: #cccccc; */
  background-image: url('pokemon.jpeg');
}

input[type="submit"] {
  text-transform: uppercase;
  font-family: 'Inconsolata', serif;
}

select {
 width: 150px;
 padding: 5px 35px 5px 5px;
 margin: 15px 0;
 font-size: 0.8em;
 -webkit-appearance: none;
 background: papayawhip;
 font-family: 'Merriweather', serif;
 border: 1px solid #eee;
 display: block;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

form {
  background-color: orange;
  width: fit-content;
  padding: 0.5em;
  text-align: left;
  margin: auto;
}

ul {
  background-color: pink;
  opacity: 0.8;
}
